body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:darkblue;
    margin: 0;
    padding: 0;
  }
  

  main {
    padding: 20px;
  }
  
  .accion {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .escribe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .crear,
  .editar, .borrar {
    background-color: #ec1c1c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .contenedorpendientes {
    width: 80%;
    
  }

  #pendientes {
    list-style-type:georgian;
    padding: 0; 
    display: grid;
    flex-wrap: wrap;
  }
  
  #pendientes li {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    grid: repeat(1, 3fr) / auto-flow 100px;
   
  }
  
  .editarTarea {
    display: grid;
    align-items: end;
    cursor: pointer;
  }

  .borrarTarea {
    align-items: end;
    cursor: pointer;
  }

  .footer {
    width: 100%;
    padding: 50px;
  }